.Answers{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.Answers li{
    padding: 10px;
    border-left: 4px solid #FF3B3B;
    background-color: #bbb;
    margin: 0 0 5px;
}
.Answers li:hover{
    cursor: pointer;
    background-color: #a2a2a2;
}
.Answers .clicked,
.Answers .clicked:hover {
    background-color: #1db900;
    border-left: 4px solid #0f6300;
    color: #fff;
}
.Answers[disabled] {
    pointer-events: none;
    opacity: 0.7;
}